.contact {
  border-top: 6px solid #e9cc64;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 35px 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.contact-logo {
  width: 60px;
  height: 60px;
}
.contact-logo:hover {
  transform: scale(1.055);
}

.contact-text {
  font-family: "Amatic SC", cursive;
  font-size: 22px;
  color: #ecf0f1;
  padding-top: 20px;
}

#celia-picture {
  height: 14vw;
  width: 14vw;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e9cc64;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1000px) {
  .contact-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .contact-text {
    display: none;
  }
  #celia-picture {
    height: 18vw;
    width: 18vw;
  }
  .contact-logo {
    height: 9vw;
    width: 9vw;
  }
  .contact {
    padding: 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .contact-logo {
    height: 12vw;
    width: 12vw;
  }
}
