.navbar-summary {
  background-color: #084a5c;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  padding: 20px;
}

.navbar-module {
  border: 4px solid #e9cc64;
  border-radius: 8px;
  background-color: #ecf0f1;
  height: 15vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  outline: none !important;
}
.navbar-module:hover {
  transform: scale(1.035);
}

.navbar-title {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  font-weight: 700;
  color: #084a5c;
  background-color: #ecf0f1;
  padding-top: 18px;
  border-top: 2px solid #084a5c;
  text-align: center;
  margin: 0 10px;
}

.navbar-image {
  height: 30%;
  width: 30%;
  background-color: #ecf0f1;
  margin-bottom: 18px;
}

@media screen and (max-width: 1000px) {
  .navbar-title {
    font-size: 18px;
    padding-top: 10px;
  }
  .navbar-image {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .navbar-title {
    display: none;
  }
  .navbar-image {
    height: 50%;
    width: 50%;
    margin: 0;
  }
  .navbar-summary {
    column-gap: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-image {
    height: 65%;
    width: 65%;
  }
  .navbar-summary {
    column-gap: 5px;
    padding: 5px;
  }
}
