.navbar-summary {
  background-color: #084a5c;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  padding: 20px;
}

.navbar-module {
  border: 5px solid #333333;
  border-radius: 8px;
  background-color: #ecf0f1;
  height: 15vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  outline: none !important;
}
.navbar-module:hover {
  transform: scale(1.035);
}

.navbar-title {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  font-weight: 700;
  color: #084a5c;
  background-color: #ecf0f1;
  padding-top: 18px;
  border-top: 2px solid #084a5c;
}

.navbar-image {
  height: 60px;
  width: 60px;
  background-color: #ecf0f1;
  margin-bottom: 18px;
}
