.slide {
  height: 60vh;
  width: 100%;
  margin: auto;
  object-fit: contain;
  background-color: #084a5c !important;
}

.block-carousel {
  min-height: 100vh;
  display: grid;
  max-width: 90vw;
  grid-template-columns: 50% 50%;
  border-top: 6px solid #e9cc64;
  margin: auto;
}

.left-carousel,
.right-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.carousel-title {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
  color: #e9cc64;
  opacity: 0;
}

.carousel-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #ecf0f1;
  opacity: 0;
}

.paragraph {
  font-family: "Bad Script", cursive;
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  text-align: center;
  color: #ecf0f1;
  opacity: 0;
}

.carousel.anim {
  opacity: 0;
  animation: carousel-apparition 3.5s forwards;
}
.carousel-subtitle.anim {
  animation: opacity-apparition 2s 2s forwards;
}
.left-title.anim {
  animation: left-apparition 2.5s forwards;
}
.right-title.anim {
  animation: right-apparition 2.5s forwards;
}
.paragraph.anim {
  animation: down-apparition 2s 1s forwards;
}

@keyframes left-apparition {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-apparition {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes down-apparition {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacity-apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes carousel-apparition {
  from {
    transform: translateY(35px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-title {
    font-size: 55px;
  }
  .carousel-subtitle {
    font-size: 15px;
  }
  .paragraph {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .carousel-title {
    font-size: 50px;
  }
  .carousel-subtitle {
    font-size: 12px;
  }
  .paragraph {
    font-size: 18px;
  }
}

@media screen and (max-width: 650px) {
  .block-carousel {
    border-top: 4px solid #e9cc64;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-bottom: 40px;
  }
  .carousel-title {
    font-size: 60px;
  }
  .carousel-subtitle {
    font-size: 18px;
  }
  .paragraph {
    font-size: 24px;
    margin: 0 20px;
  }
  .slide {
    height: 50vh;
  }
}
