.slide {
  height: 65vh;
  width: 100%;
  margin: auto;
  object-fit: contain;
  background-color: #084a5c !important;
}

.block-carousel {
  min-height: 100vh;
  display: grid;
  max-width: 90vw;
  grid-template-columns: 50% 50%;
  border-top: 6px solid #e9cc64;
  margin: auto;
}

.left-carousel,
.right-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.carousel-title {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
  color: #e9cc64;
}

.carousel-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #ecf0f1;
}

.paragraph {
  font-family: "Bad Script", cursive;
  font-size: 22px;
  line-height: 1.6em;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  text-align: center;
  color: #ecf0f1;
}
